.button
	font-size: 14px
	color: $text-color-light
	background: $active-color
	padding: 13px 22px
	font-family: 'Roboto', sans-serif
	border-radius: 3px
	&:hover
		background-color: lighten($active-color, 5)
		cursor: pointer 
	img
		vertical-align: middle
	&_big
		padding: 18px 0 18px 0
		vertical-align: middle
		width: 35%
		font-size: 15px
		
