* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Tahoma; }

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.header {
  padding-top: 77px;
  padding-bottom: 94px; }
  .header-img {
    width: 45%;
    vertical-align: middle; }
  .header-text {
    width: 54%;
    vertical-align: middle;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .header-text__title {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 15px; }
    .header-text__subtitle {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 35px; }
    .header-text__descr {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 47px; }
    .header-text__price {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 50px; }

.button {
  margin-right: 37px;
  border-radius: 5px;
  background-color: #f05a22;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 22px 43px;
  border: 0px; }
  .button:focus {
    outline: none; }
  .button-o {
    color: #f05a22;
    padding: 20px 41px;
    border: 2px #f05a22 solid;
    background-color: #ffffff; }

.container2 {
  width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin-bottom: 97px; }

.features {
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 99px; }
  .features-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center; }
  .features-block {
    text-align: center;
    width: 25%; }
    .features-block__text {
      color: #333333;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 22px; }
    .features-block__img {
      margin-bottom: 23px;
      width: 58px; }

.container3 {
  width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.bougth-title {
  text-align: center;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 68px;
  margin-top: 87px; }

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .group img {
    width: 22%;
    margin-bottom: 36px;
    margin-left: 26px; }
