@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic");
@charset "UTF-8";

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

.header {
  padding: 15px 0;
}

.header-logo {
  background: url("../img/header/logo.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
  padding: 15px 0;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
}

.header-contacts__phone {
  margin-right: 14px;
}

.header-contacts__phone a {
  text-decoration: none;
  cursor: pointer;
  color: #373737;
}

.header-contacts__phone a:hover {
  text-decoration: underline;
}

.header-contacts__phones {
  display: flex;
}

.phone2 {
  border-left: 1px solid #cecdce;
  padding-left: 14px;
}

.main {
  padding-top: 25px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* затемнение фонового изображения на главном экране */
  /* Оформление главной картинки */
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.main-img {
  position: relative;
  right: 105px;
  top: 25px;
  width: 480px;
}

.main-img::after {
  content: url("../img/main/main-rst.png");
  position: absolute;
  z-index: 2;
  top: 87%;
  left: 19%;
}

.main-img::before {
  content: '';
  position: absolute;
  width: 390px;
  height: 390px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -1;
  left: 55%;
  top: 5%;
  margin-left: -165px;
}

.main-text {
  margin-left: 10px;
  line-height: 42px;
}

.main-text__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-text__subtitle {
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 300;
}

.main-text__form {
  padding: 15px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 10px;
  padding-right: 0px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.form__input {
  margin-right: 10px;
  font-size: 14px;
  border-radius: 4px;
  padding: 20px;
  vertical-align: middle;
  flex-basis: 70%;
}

.form-small {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
}

.button {
  font-size: 14px;
  color: #ffffff;
  background: #ff9d00;
  padding: 13px 22px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding: 18px 0 18px 0;
  vertical-align: middle;
  width: 35%;
  font-size: 15px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  font-size: 35px;
  right: -20px;
  top: -35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  max-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  text-align: center;
  font-weight: 500;
}

.overlay .popup-form {
  background: url("../img/modal/bg_modal.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #ffffff;
  text-align: center;
}

.overlay .popup-form-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form_send {
  margin-top: 17px;
}

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  border-radius: 3px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

@media (max-width: 991px) {
  .hidden-laptop {
    display: none;
  }

  .call-bell {
    display: block;
  }

  .header-contacts {
    font-size: 18px;
    margin-right: 0;
  }

  .header-contacts__phones {
    display: block;
  }

  .header-contacts__phones .phone_Bk {
    font-weight: 900;
  }

  .header-contacts__btn {
    display: inline-block;
    padding: 7px;
  }

  .phone2 {
    border-left: none;
    padding-left: 0;
  }

  .overlay .popup {
    width: 70%;
  }

  .overlay .popup-form {
    padding: 30px 50px;
  }

  .overlay .popup-form__input {
    width: 70%;
    height: 30px;
    margin: auto;
  }

  .overlay .popup-form__btn {
    width: 50%;
    height: 40px;
    margin: 15px 0 0 0;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main {
    text-align: center;
  }

  .overlay .popup {
    width: 70%;
  }

  .overlay .popup-title {
    font-size: 20px;
  }

  .overlay .popup-form_send {
    margin: 0;
  }

  .overlay .popup-form-header {
    font-size: 18px;
  }

  .overlay .popup-form-header span {
    font-size: 16px;
  }

  .overlay .popup-form__label {
    font-size: 16px;
  }

  .overlay .popup-form__input {
    width: 80%;
    height: 25px;
  }

  .overlay .popup-form__btn {
    font-size: 13px;
    line-height: 1;
    height: 30px;
  }

  .overlay .popup-form__note {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .hidden-mobile {
    display: none;
  }

  .header-contacts {
    font-size: 14px;
    margin-right: 0;
  }

  .header-logo {
    background: #ff9d00 url("../img/header/logo_mobile.png") center no-repeat;
    width: 35px;
    height: 35px;
  }

  .main-text {
    margin: 0;
    line-height: 1;
  }

  .main-text__title {
    font-size: 22px;
    color: #ff9d00;
    margin-bottom: 10px;
  }

  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .main-text__form {
    padding: 0px;
    background-color: transparent;
  }

  .form {
    display: block;
    margin: 0;
  }

  .form-title {
    font-size: 15px;
    line-height: 1.4;
  }

  .form-title__important {
    margin-top: 10px;
  }

  .form__input {
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
    width: 290px;
    font-size: 13px;
  }

  .form-small {
    padding-left: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
  }

  .button_big {
    width: 180px;
  }

  .overlay .popup-title {
    font-size: 15px;
    height: 30px;
    line-height: 31px;
  }

  .overlay .popup-form-header {
    line-height: 1;
    font-size: 15px;
    color: #ff9d00;
  }

  .overlay .popup-form-header span {
    color: #ffffff;
    font-size: 12px;
  }

  .overlay .popup-form__label {
    display: none;
  }

  .overlay .popup-form_send {
    margin-top: 10px;
  }

  .overlay .popup-form__input {
    width: 100%;
    font-size: 10px;
  }

  .overlay .popup-form__btn {
    width: 90%;
    font-size: 12px;
  }

  .overlay .popup-form__note {
    font-size: 9px;
    line-height: 1;
  }
}

*,
*:before,
*:after {
  transition: .4s ease-in-out;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #373737;
}

.main {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .container {
    max-width: 968px;
  }
}