* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.wrap-block {
  vertical-align: middle;
}

H1 {
  overflow: hidden;
  text-shadow: 0 0 tomato, 0 0 skyblue, 0 0 yellowgreen;
  color: transparent;
  transition: all 1s;
}

H1:hover {
  text-shadow: -400px 0 tomato, 400px 0 skyblue, 0 0 yellowgreen;
}